ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
h3{
    margin-left: 500px;
    margin-top: 200px;
}
.peppa{
    margin-top: 150px;
    margin-left: 30px;
}
header{
    background-image: url(./img/natiurmort-eda-predmety-posuda-temnyi-fon-kompozitsiia-khleb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
.list{
    margin-left: 150px;
}
.address{
    margin-top: 70px;
    margin-left: 30px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

 /* moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */
.buttons{
    margin-bottom: 200px;
}
h2{
    margin-left: 550px;
}
.breads{
   display: flex;
   justify-content: space-evenly;
}
.breads2 img{
    /* display: flex;
    justify-content: space-between; */
    height: 222px;
    width: 200px;
    border: 30px solid rgb(53, 41, 41);
}
.breads2{
    display: flex;
    justify-content: space-evenly;
}
.breads img{
    /* display: flex;
    justify-content: space-between; */
    height: 222px;
    width: 200px;
    border: 30px solid rgb(53, 41, 41);
}

.abread1 button{
    margin-right: -20px;
}
footer{
    background-color: rgb(172, 126, 83);

}
/* button{ 
    padding: 10px 35px;
    overflow: hidden;
}
button::before{
    font-family: FontAwesome;
    content: "\f07a";
    position: absolute;
    top: 11px;
    left: -30px;
    transition: all 200ms ease;
}
button:hover::before{
    left: 7px;
} */
button:hover{
    background-color: #008CBA;
    color: white;
    
}
 

